/* PRINCIPALS */
@mrcall_blue: #0068FF;
@mrcall_black: #0F110C;
@mrcall_white: #FFFFFF;

/* SECONDARY */
@mrcall_dark_grey: #3F413D;
@mrcall_light_grey_1: #D7DCE2;
@mrcall_light_grey_2: #F1F3F7 ;

/* ACCESSORY */
@mrcall_orange: #F7941F ;
@mrcall_bluette: #CCE1FF ;
@mrcall_salmon: #F8D4A5 ;
@mrcall_teal: #00897B ;
@mrcall_blue_highlight: #2196F3 ;

/* TEMPLATES */
@mrcall_background: #E5E5E5 ;
@mrcall_dark_grey_text: #282E38;
@mrcall_grey_text: #495057 ;
@mrcall_grey_text2: #6C757D ;
@mrcall_red: red;
@mrcall_green: #826423;

@mrcall_menu_navbar_background: @mrcall_white; //@mrcall_light_grey_1

@mrcall_borders: #DFE7EF;

/* STATUS */
@mrcall_status_success: #22C55E;
@mrcall_status_error: #EF4444;
@mrcall_status_warning: #F59E0B;
@mrcall_status_info: @mrcall_blue;
@mrcall_status_danger: #DC2626;