.inputboxtitle {
  /* body/semibold-600/line-height-auto */
  font-family: 'Inter', serif, 'primeicons';
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1em;
  /* identical to box height */
  /* Lara/Global/textColor */

  padding: 1em 0 0.4em 0;
  color: @mrcall_grey_text;
}

.inputboxsubtitle {
  font-family: 'Inter', serif, 'primeicons';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1em;
  /* identical to box height */
  /* Lara/Global/textColor */

  padding: 0.4em 0 0 0;
  color: @mrcall_grey_text;
  :deep {
    a:link {
      color: @mrcall_blue;
      background-color: transparent;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.0em;
    }

    a:visited {
      color: @mrcall_blue;
      background-color: transparent;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.0em;
    }

    a:hover {
      color: @mrcall_black;
      background-color: transparent;
      text-decoration: underline;
      font-weight: 600;
      font-size: 1.0em;
    }

    a:active {
      color: @mrcall_blue;
      background-color: transparent;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.0em;
    }
  }
}

.inputboxerror {
  font-family: 'Inter', serif, 'primeicons';
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1em;
  /* identical to box height */
  /* Lara/Global/textColor */

  padding: 0.4em 0 0 0;
  color: @mrcall_red;
}
