.cap-element {
  padding: 0.5em;
  color: @mrcall_white;
  background: @mrcall_blue ;
  border-top-left-radius: 25px ;
  border-top-right-radius: 25px;
  width: 100%;
}

.middle-element {
  text-align: left;
  padding: 0.5em;
  background: @mrcall_bluette ;
  margin-top: 0.1em;
  overflow-wrap: break-word;
  width: 100%;
}

.before-closing-element {
  text-align: left;
  padding: 0.5em;
  background: @mrcall_light_grey_2;
  margin-top: 0.1em;
  overflow-wrap: break-word;
  width: 100%;
}

.closing-element {
  text-align: left;
  padding: 0.5em;
  background: @mrcall_salmon ;
  margin-top: 0.1em;
  overflow-wrap: break-word;
  width: 100%;
}