#response-message-success-symbol {
  font-size: 3rem;
  color: @mrcall_blue ;
}

.registration-form {
  max-width: 600px;

  .card {
    width: auto;

    form {
    }

    .p-field {
      margin-bottom: 1.5rem;
    }
  }

  #signup-part {
    a {
      background: @mrcall_black;
      border: 1px solid @mrcall_black;
      font-weight: bold;
      color: @mrcall_orange;
      border-radius: 33px;
      text-decoration: none;
      
      &:hover {
        background: @mrcall_orange;
        color: @mrcall_black;
      }
    }
  }  
}

.p-tag {
  background: @mrcall_dark_grey;
}

.registration-form {
  max-width: 600px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}